// layout
$max-width: 1600px;
$bp-large:960px;
$bp-medium: 720px;
$bp-small:540px;
$marge: 15px;

//typos
$font-default: 'Barlow Condensed', sans-serif;
$font-title: 'Lilita One', $font-default;

//colors

$pink: #EA597C;
$green : #17BEBB;
$almond : #FAF3E7;
$beige : #EDD7AF;
$white : #FFFFFF;
$black:#000000;

